.Grow{
    display: flex;
    width: 80%;
    margin: auto;
    

}

.Grow-desc{
    /* flex: 50%; */
    width: 400px;
    margin: auto;
    color: whitesmoke;
    text-align: left;
}
.Account-desc h2{
    padding: 10px 0px;
}


.identity-G{
    width: 45px;
    margin: auto;
    height: 45px;
    border-radius: 50%;
    background-color: #180066;
    color: white;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 5px;
}
.grow-card{
    width: 450px;
    height: 400px;
    margin-top: 50px;
    object-fit: contain;
    animation-name: illustrate;
    animation-duration: 3s;
    transition: all ease-in-out;
    animation-iteration-count: infinite;
}
.signIn-btn{
    font-size: 16px;
    padding: 10px 10px;
    width: 150px;
    height: 50px;
    margin-left: 150px;
    margin-top: 30px;
    border-style: none;
    border-radius: 30px;
    color: rgb(44, 41, 41);
    align-items: right;
}

@keyframes illustrate{
    0%{transform: translateY(0px);}
    50%{transform: translatey(-20px);}
    100%{transform: translatey(0px);}
}